@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap'); */

/* normalizacion */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    object-fit: cover;
}

html{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
}

/* variables */
:root{
    --color-principal-green:#00974d;
    --color-principal-blue:#27245f;
    --color-bandera-celeste:#5bbfed;
    --color-bandera-amarillo:#f9b71b;
    --color-gris:#cfcfce;
    --color-light:white;
    --color-white-filter:rgba(255, 255, 255, 0.67);
    --color-dark:black;
    --color-gray:#303030;
    --color-bk-link-button:var(--color-bandera-amarillo);
    --color-dark-filter:rgba(0, 0, 0, 0.705);
    --color-bk-link-button-hover:#ffe3a0;
}

/* generales */

h1{
    font-weight: 900;
    font-size: 1rem;
    color:white;
}

.self-center{
    align-self: center;
}

/* h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    font-style: oblique;
    min-width: max-content;
} */

h2{
    color:var(--color-bandera-amarillo);
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}

h3{
    width: 100%;
    
}

button{
    border:none;
    margin-top: 1rem;
}

ul{
    list-style: none;
}


.bloque{
    width: 100%;
}

.bloque--centrado{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloque--columna{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.bloque--horizontal{
    display:flex;
    justify-content: space-between;
}

.bloque--articulo{
    display:flex;
    gap:1rem;
    justify-content: space-between;
    padding: 2rem;
}

.bloque--horizontal>*{
    flex-grow: 1;
    width: 100%;
}

.fondo{
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo--paralax{
    background-attachment: fixed;
}

.fondo--footer{
    background-image: url(assets/headerbk.jpg);
    background-position-y: center;
}

.fondo--header{
    background-image: url(assets/fotos/header.jpg);
    background-position: center 30%;
}


.bloque__img--banner{
    max-height: 50vh;
    width: 100%;
}

.link-button{
    background-color: var(--color-bk-link-button);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 600;
}

.link-button:hover{
    background-color: var(--color-bk-link-button-hover);
}

.icono-muy-pequeño{
    width: 30px;
    object-fit: fill;
}

.icono-pequeño{
    width: 50px;
}

.icono-mediano{
    width: 100px;
}

.fondo--nube{
    background-color: white;
}

.text-right{
    text-align: right;
}

.bk-dark{
    background-color: var(--color-dark);
    color:white;
}

.bk-light{
    background-color: var(--color-gris);
}

.bk-bandera{
    background-color: var(--color-bandera-celeste);
    color:white;
}

.bk-gradient{
    background:linear-gradient(-45deg, var(--color-principal-green),var(--color-principal-blue));
    color:white;
}

.bk-nubes{
    background-image: url(assets/nubes-crepusculares.jpg);
}

.bk-green{
    background-color: var(--color-principal-green);
    color:white;
}

.bk-blue{
    background-color: var(--color-principal-blue);
    color:white;
}

.bk-darkfilter{
    background-color: var(--color-dark-filter);
    color:white;
}

.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(auto-fill,1fr);
    gap:1rem;
    padding: 3rem;
}

/* elementos */

.grid__div:first-child{
    grid-column-start:span 2;
}

.grid__div{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-center;
    padding: 0 1rem 1rem;
    justify-content:space-between;
}

.grid__div>h3{
    padding: 1rem;
}

.grid__parrafo{
    background-color: white;
    grid-column-start:span 2;
    padding: 1rem;
}

.header__logo{
    width: 500px;
    padding: 50px;
}

.item-redes-sociales{
    display: flex;
    gap:1rem;
    align-items: center;
}

.mapa{
    width: 800px;
}

.lista-lateral{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    padding: 2rem 2rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    gap:1rem;
}

.side-div{
    background-color: white;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    align-self: flex-end;
    width: 50%;
}

.bloque--main{
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.side-img{
    clip-path: polygon(47% 0, 100% 0, 100% 100%, 0% 100%);
}

.bloque--main__titles{
    padding-left: 3rem;
    flex:0;
}

.separador{
    width: 100%;
    min-height: 1rem;
}

.bloque--accion{
    min-height: 60vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.grid--galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.articulo__img{
    flex: 1 1 50%;
    width: 100%;
}

.articulo__img img{
    width: 100%;
}

.articulo__txt{
    flex-grow: 3;
    width: 100%;
}

.nosotros{
    color:black;
    padding: 2rem 0;
}


.barra-superior{
    justify-content: space-between;
    padding: 0.2rem 1rem;
    position:fixed;
    top:0;
    z-index: 1;
}

.barra-superior img{
    padding: 0.3rem;
}
.lista-barra{
    display:flex;
    font-size: 1rem;
    align-items: center;
    gap:0.3rem;
}

nav{
    margin-top: 3rem;
    background-color: var(--color-white-filter);
    border-radius: 50px;
    padding-left: 2rem;
    gap:1rem;
}

.lista-nav{
    
    gap:2rem;
    
}

.lista-nav a{
    color:black;
    font-weight: 600;
    text-decoration: none;
}

.lista-nav a:hover{
    color:var(--color-principal-green);
}


.header__content{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 50vh;
    padding-bottom: 2rem;
}

.header__title--big{
    margin-left: 3rem;
}

.title--big{
    color:var(--color-light);
    font-weight: 900;
    font-size: 4rem;
}

.button--buy{
    background-color: var(--color-bandera-amarillo);
    padding: 1rem 2rem;
    color:var(--color-dark);
    border-radius: 10px;
}

.button--buy:hover{
    background-color: var(--color-bk-link-button-hover);
}

.button--buy--normal{
    font-weight: 600;
    font-size: 1rem;
    margin-left: 3rem;
}

.button--buy--big{
    font-size: 1.5rem;
    font-weight: 900;
}

.bloque--datos{
    background-color: var(--color-bandera-amarillo);
    justify-content: space-around;
    padding: 2rem 15%;
}

.datos__div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
    max-width: 150px;
    text-align: center;
}

.datos__div span{
    font-size: 2rem;
}

.bloque--servicios{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap:4rem;
    padding: 3rem;
}

.bloque--servicios__div{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    outline: var(--color-white-filter) 15px solid;
}

.bloque--servicios__h3{
    text-transform: uppercase;
    color:white;
    font-weight: 600;
    text-shadow: -2px 0px 5px rgba(0,0,0,0.6);
    font-size: 2rem;
}

.bloque--texto{
    display:flex;
    padding: 2rem 0;
    gap: 2rem;
}

.bloque--texto hr{
    border: var(--color-principal-green) 4px solid;
    width: 20%;
}

.bloque--texto__contenido{
    flex: 1 1 0;
}

.bloque--texto__contenido h2, .bloque--texto__contenido p{
    padding-left: 2rem;
}

.bloque--texto__contenido h2{
    color:var(--color-principal-green);
    font-weight: 900;
}

.bloque--texto__contenido p{
    margin-top: 1rem;
    text-align: justify;
}

.bloque--texto__foto{
    flex: 1 1 0;
}

.bloque--texto__foto img{
    border-radius: 30px 0 0 30px;
}

.bloque--fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.bloque--fotos div:first-child{
    grid-row-start:span 2;
    height: 100%;
    grid-column-start:span 2;
}

.bloque--fotos div:last-child{
    grid-row-start:span 2;
    height: 100%;
}

.bloque--fotos div{
    overflow: hidden;
}

.bloque--fotos img{
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.bloque--fotos img:hover{
    transform: scale(1.3);
}

.bloque--servicios__video{
    width: 500px;
    outline: var(--color-white-filter) 15px solid;
    height: 300px;
}

.bloque--servicios__video img{
    height: 100%;
}

.bloque--texto-especial{
    text-align: center;
    padding: 3rem;
}

.bloque--texto-especial h2{
    font-weight: 900;
    text-transform: uppercase;
    color:white;
}

.bloque--texto__lista{
    color:var(--color-principal-green);
    font-weight: 600;
    align-self: center;
    padding-left: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-top: 1rem;
}

.bloque--texto__lista li::before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(assets/ok-circle-filled.svg);
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;

    position: absolute;
   
    left: 0;
    top: 0;
}
.bloque--texto__lista li {
    position: relative;
    text-indent: 2em;
}

.bloque--llamativo{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
}

.bloque--pagos{
    color:black;
    background-color: var(--color-bandera-amarillo);
    padding: 1rem 2rem;
    justify-content: space-between;
}

.bloque--pagos__title{
    color:black;
    font-weight: 900;
    font-size: 1.2rem;
}

.bloque--pagos__lista{
    justify-content: space-evenly;
    flex-grow: 1;
}

.bloque--pagos__div{
    font-weight: 600;
    font-size: 1.2rem;
    gap:1rem;
}

.bloque--pie-datos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 2rem;
    background-color: var(--color-gray);
    color:white;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-auto-flow: column;
}

.bloque--pie-datos__columna{
    text-align: left;
    height: 100%;
    
}

.bloque--pie-datos__columna:first-child, .bloque--pie-datos__columna:last-child{
    grid-row-start:span 2;
}

.bloque--pie-datos__columna h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.mapa{
    max-width: 60%;
}

.bloque--pie-datos__logo{
    max-width: 60%;
}

.bloque--autoria{
    background-color: var(--color-dark);
    color:white;
    padding: 1rem;
}

.bloque--autoria a{
    color:white;
}

.fondo--salto-deportivo{
    background-image: url(assets/fotos/servicio-salto-deportivo.jpg);

}

.fondo--vuelo-bautismo{
    background-image: url(assets/fotos/avioneta.jpg);
}

.fondo--curso-paracaidista{
    background-image: url(assets/fotos/instructor-servicio.jpg);
    background-position: center;
}

.fondo--bautismo{
    background-image: url(assets/fotos/fondo-foter.jpg);
    background-position: center;
}