@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');

/* normalizacion */
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    max-width: 100%;
}

img{
    object-fit: cover;
}

html{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Orbitron', sans-serif;
}

/* variables */
:root{
    --color-principal-green:#00974d;
    --color-principal-blue:#27245f;
    --color-bandera-celeste:#5bbfed;
    --color-bandera-amarillo:#f9b71b;
    --color-gris:#cfcfce;
    --color-light:white;
    --color-dark:black;
    --color-bk-link-button:red;
}

/* generales */

h1{
    text-transform: uppercase;
    color:var(--color-dark);
    font-weight: 900;
    font-size: 3rem;
    font-style: oblique;
}

h2{
    /* color: var(--color-bandera-amarillo); */
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}

.bloque{
    width: 100%;
}

.bloque--centrado{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloque--columna{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.bloque--horizontal{
    display:flex;
    justify-content: space-between;
}

.bloque--horizontal>*{
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
}

.fondo{
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo--paralax{
    background-attachment: fixed;
}

.fondo--header{
    background-image: url(assets/headerbk.jpg);
}

.bloque__img--banner{
    max-height: 50vh;
    width: 100%;
}

.link-button{
    background-color: var(--color-bk-link-button);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.icono-muy-pequeño{
    width: 30px;
    object-fit: fill;
}

.icono-pequeño{
    width: 50px;
}

.fondo--nube{
    background-color: white;
}

.text-right{
    text-align: right;
}

.bk-dark{
    background-color: var(--color-dark);
    color:white;
}

.bk-light{
    background-color: var(--color-gris);
}

.bk-bandera{
    background-color: var(--color-bandera-celeste);
    color:white;
}

/* elementos */

.header__logo{
    width: 400px;
    padding: 100px;
}

.item-redes-sociales{
    display: flex;
    gap:1rem;
    align-items: center;
}

.mapa{
    width: 800px;
}

.lista-lateral{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    padding: 2rem 2rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    gap:1rem;
}

.side-div{
    background-color: white;
    clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
    align-self: flex-end;
    width: 50%;
}

.bloque--main{
    align-items: center;
}

.side-img{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 47% 100%);
}

.bloque--main__titles{
    padding-left: 3rem;
    flex:0;
}